<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="dashboard.component.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Salud</title>
</head>

    <body>
        <div class="container">
            <div class="hero">
                <h2>Bienvenido al Sistema de Salud</h2>
            </div>
            <section>
                <h2>Nuestros Servicios</h2>
                <div class="services">
                    <div class="card">
                        <div class="cover">
                            <img src="../../../assets/images/logoCita.png" alt="">
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Cita Medica</h2>
                            <input type="button" value="Leer Más" href="./citasMedicas.html">
                        </div>
                    </div>
            
                    <div class="card">
                        <div class="cover">
                            <img src="../../../assets/images/HClinica.png" alt="">
                            <div class="img__back"></div>
                        </div>
                        <div class="description">
                            <h2>Historia Clinica</h2>
                            <input type="button" value="Leer Más" href="#">
                        </div>
                    </div>
                </div>
            </section>
          
        </div>
    </body>
    </html>